{% extends "Info/base.html" %} 
{% block content %} 
<h2>Disease Management</h2>
<div class="disease-container">
  <table>
    <thead>
      <tr>
        <th>Disease</th>
        <th>Symptoms</th>
        <th>Prevention</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Early blight</td>
        <td>dark spots with rings on lower leaves</td>
        <td>pruning, fungicide</td>
      </tr>
      <tr>
          <td>Fusarium wilt</td>
          <td>entire plant wilts during day, leaves yellow on one side plant</td>
          <td>plant resistant varieties</td>
        </tr>
        <tr>
          <td>Powdery mildew</td>
          <td>light green or yellow spots on leaves turn dusty white</td>
          <td>sulfur dust, fungicides, biofungides, horticultural oil</td>
        </tr>
        <tr>
          <td>Anthracnose</td>
          <td>small, sunken ,water soaked spots on ripening fruit</td>
          <td>fungicide as preventive</td>
        </tr>
        <tr>
          <td>Septoria leaf spot</td>
          <td>small, brown, round spots on leaves</td>
          <td>fungicide, biofungicide</td>
        </tr>
        <tr>
          <td>Botrytis</td>
          <td>gray brown mold on leaves, stems or fruit</td>
          <td>fungicide, biofungicide specific for gray mold</td>
        </tr>
        <tr>
          <td>Bacterial speck</td>
          <td>irregular brown or black spots near leaf margins, on stems or fruit</td>
          <td>copper fungicide applied as preventive</td>
        </tr>
    
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  <h3><u>Diseases and their prevention</u></h3>
  <div class="disease-image">
    <h2>1.Early Blight</h2>
    <img src="https://www.thespruce.com/thmb/670PNjbGv9TCHGrKbKbvVnWTutk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-161382852-6cf14a3b2df24e26ae99d8b6cf5ccd57.jpg" alt="Example Disease 1">
    <p class="image-content">Early blight, caused by Alternaria fungus, is the most common of several leaf spot diseases on tomatoes. Dark brown spots encircled with rings start on lowest leaves and move up, eventually causing foliage to shrivel, dry up and fall. Lesions can also develop on stems and fruits with defoliation causing sunscald. Early blight is more prevalent in hot, humid weather and remains in soil for one year.
    Treat early blight by removing lower leaves, including up to one-third of infected foliage. Apply a tomato fungicide at the first sign of infection or when weather conditions are favorable for disease to develop.
    Prevent early blight by watering at soil level and mulching. Keep adequate space between plants and rows; use stakes and practice good weed control. Prune bottom leaves from plants and rotate tomato plants and other nightshades every two years.</p>

    <h2>2.Fusarium Wilt</h2>
    <img src="https://www.thespruce.com/thmb/ONVpuYx-9z6MFOkTVfmT0WVDc2w=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1287462774-fc2bc014eb0d4775bf8f894eec52f0e3.jpg" alt="Example Disease 2">
      <p class="image-content">Fusarium wilt is caused by the fungus Fusarium oxysporum f. sp. lycopersici which enters tomato plants through roots. In warm weather, the entire plant wilts down during the day, often recovering at night. Eventually leaves on one side turn yellow, dry up and fall off. Inner tissue of the lower stem turns red or black. Plants may die quickly or succumb in a week or more.
    There is no fungicide for fusarium wilt, so you need to remove and dispose of infected plants. Fungus spores can remain in soil for many years, but this disease does not spread among plants grown in the same season.
    Prevent fusarium wilt by planting varieties labeled VFN or FN which indicate resistance. Keep tools clean and practice a three year crop rotation. Fusarium wilt is hosted by pigweed and crabgrass so weed control is important. Avoid excessive nitrogen fertilizers which encourage disease.</p>

    <h2>3.Powdery Mildew</h2>
    <img src="https://www.thespruce.com/thmb/nQWVZ14lFsS58wugNglv1q8JMew=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1434931076-3590f09fe1084bfe848c628751b32035.jpg" alt="Example Disease 2">
      <p class="image-content">Powdery mildew spreads through three different types of airborne fungi. The type of spore differs according to temperature but high humidity levels increase disease occurrence. Yellow spots appear on leaves turning to white powdery lesions coating the entire leaf and appearing on stems. Fruits do not develop powdery mildew but defoliation leads to sunscald and crop loss.
      Treat powdery mildew by stopping its spread with sulfur dust, fungicides, biofungicides and horticultural oils. Remove infected leaves and buds. Treat the entire crop.
    Prevent powdery mildew by allowing adequate space between plants. Prune for good air circulation. Provide regular consistent hydration at soil level and avoid wetting leaves.</p>

    <h2>4.Anthracnose</h2>
      <img src="https://www.thespruce.com/thmb/lVDGDHbzRA-hxbY3ZUqSJdAN-S8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1297736308-f91c96d60256429cb6a56260a8ec8ea7.jpg" alt="Example Disease 2">
      <p class="image-content">Anthracnose is a disease infecting mostly fruits caused by Colletotrichum coccodes, a fungus that favors warm temperatures and wet conditions. Small, sunken, water-soaked spots appear on fruit and increase in concentric circles causing tomatoes to rot. Leaves may develop small, round spots with yellow halos. Infection starts in small Immature fruits but symptoms don't appear until ripening. Dozens of weeds and other plants host this fungus which overwinters in soil and plant debris.
    Fungicides are more effective used as a preventive. Apply tomato fungicide to your entire crop at the first sign of infection or when weather conditions are favorable for disease to take hold. Avoid letting tomatoes overripen on the vine.
    Prevent anthracnose by staking plants, mulching, and watering at soil level. Use certified seed and plant in well-draining soil. Remove and dispose of rotten fruit and debris. Practice good weed control and rotate crops every two years along with other nightshades.

    <h2>5.Septoria Leaf Spot</h2>
      <img src="https://www.thespruce.com/thmb/ISeW0tfuBS7wn_rH7njUIeoNCas=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1286441510-2ba6ca53c008436c9696ca3d568617c8.jpg" alt="Example Disease 2">
      <p class="image-content">Septoria leaf spot is caused by the Septoria fungus and appears on leaves as multiple small, dark, round circles. Symptoms are similar to early blight, but septoria more often appears at first fruit set. It spreads rapidly causing loss of older leaves, then infects new foliage, and can quickly move through an entire crop. Insects, tools and water all spread fungus spores which remain in soil for up to two years Early leaf drop leads to fruit loss and sunscald.
      The most effective treatment is to control the spread which requires repeated applications with a tomato fungicide or biofungicide for the entire tomato crop. This is another fungus that thrives in warm, wet weather so watch for symptoms and act immediately.
      Good garden sanitation is critical for preventing septoria leaf spot. Remove fallen leaves and debris from the garden immediately. Clean tools before and after working with plants, water at ground level and control insect pests. Rotate your tomato crops every three years.</p>

      <h2>6.Botrytis Gray Mold</h2>
      <img src="https://www.thespruce.com/thmb/_EHL-4Bv1gsJBWNcpu-KSDq4JbA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-463214857-c8969cf652ae4ede913bcf11622a4b38.jpg" alt="Example Disease 2">
      <p class="image-content">Botrytis develops from the fungus Botrytis cinerea which presents as brown lesions on leaves and stems and a whitish soft rot in fruits. Infection takes root in damaged stems or pruning cuts and can lie dormant for up to 12 weeks. The mold can cause tomatoes to rot after harvest. Leaves die and fall off and stem girdling leads to wilt. Tomato flowers are also susceptible. Spores spread by wind and water and are most prevalent in cooler temperatures.
      Botrytis often dies back when temperatures rise. Treat widespread or persistent infection with tomato fungicide or biofungicide with specific application for gray mold.
      Prevent botrytis by pruning plants in the early afternoon allowing cuts to dry quickly. Avoid overhead watering and working with wet plants. Leave adequate spacing between plants and rows for good air circulation.</p>

      <h2>7.Bacterial Speck</h2>
      <img src="https://www.thespruce.com/thmb/05Wulih6bAXj0lw99Wm9vZxruQU=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1429396170-5c9dc77a8e534552bb2606d2cd442e5d.jpg" alt="Example Disease 2">
      <p class="image-content">Bacterial speck infects tomato plants with Pseudomonas syringae during persistent cool, wet weather. Yellow tissue surrounds small, irregular, dark brown to black spots, close to leaf margins. Superficial raised spots appear on mature fruit. It spreads by splashing water on leaves.
      Bacterial speck can't be cured, however preventive steps include treating plants with a copper fungicide during periods of cool, wet weather, Hot weather stops the pathogen from spreading.
    Prevent bacterial speck by delaying planting until weather conditions are warmer and drier. Apply a protective fungicide if cool, wet weather persists. Avoid overhead irrigation and rotate tomatoes and other nightshades every year.</p>
    </p>
    <!-- Add more image and content pairs as needed -->
  </div>
</div>
{% endblock content %}