{% extends "Info/base.html" %} 
{% block content %} 
<!-- Content will be dynamically loaded here -->
<h2><center><u>How to grow Tomatoes</u></center></h2>
      <div class="disease-container">
        <div class="disease-image">
          <h2>1.Getting Started</h2>
          <p class="image-content">Tomatoes (Solanum lycopersicum) are one of the most popular crops to grow – they can be started from seed indoors or bought as young plants,
            then grown either outdoors or in a greenhouse, in pots or in the ground.These tender plants need a warm, sunny, sheltered site if grown outdoors and love a long hot summer. 
            They grow particularly well in a greenhouse, usually producing an earlier and larger crop than plants outdoors. <br><br>In a greenhouse, they are also less likely to succumb to blight disease.  
            Tomatoes do need some attention to grow well, including protection from frost, and regular watering and feeding. 
            But they’re well worth the effort when you can eat yourown home-grown tomatoes all summer long, freshly picked, warmed by the sun, and at their sweetest, juiciest best.  
            <br><br>There’s an enormous range of varieties to choose from, which is another great benefit of growing your own. <br>There are fruits of different sizes, flavours, textures and colours, to suit all tastes – far more choice than you get in the supermarket.  
            <br><img src="https://www.rhs.org.uk/getmedia/2e2b4fe7-3461-4bf6-95d4-aac353af423b/ripe-tomatoes?" alt="Example Disease 1">
            <img src=https://www.rhs.org.uk/getmedia/88c682f4-a291-47ee-a5cb-282bd75680ec/Tomkin-British-Tomato-Growers-Association-National-Plant-Societies-Plant-Heritage-Marquee-Tatton-Park-2012-_PUB0024696.jpg?>
           <br>There are plants of various sizes too, for different growing locations and amounts of space, from tall and vigorous 
            A plant that is restricted by pruning to usually one main stem, either upright or at a 45 degree angle, with short fruiting side-shoots (spurs).
             Apples, pears, gooseberries, tomatoes, redcurrants and whitecurrants are often grown as cordons, especially where space is limited.<br><br> Sweet peas can be grown as cordons to produce large flowers for exhibition.
            cordon varieties to more compact bush types, as well as dwarf varieties for small containers and even trailing plants for hanging baskets. Small-fruited varieties tend to be the easiest, fastest to fruit and most prolific, but it’s well worth experimenting with all the different types.
            </p>

            <h2>2.Choosing</h2>
            <p class="image-content">Tomatoes generally have two ways of growing: </b><br><br>Cordon (or indeterminate) tomatoes grow tall, up to 1.8m (6ft),
             and require tall supports. They are great for growing in a greenhouse, but will also do well in a sunny spot outdoors, either in the ground or in large pots 
             against a south-facing wall. They are useful when space is limited, as plants grow vertically, tall and narrow, and produce a heavy crop. They require regular 
             maintenance – watering, feeding, tying to supports and pinching out side-shoots. <br><br>
             Bush (or determinate) tomatoes are shorter and wider, great for smaller gardens, pots and growing bags. Smaller types can also be grown in hanging baskets, 
             with the stems trailing over the sides. These are the easiest type to grow and need little maintenance apart from watering and feeding. The stems don’t usually 
             need support, except if heavily laden with fruit.  <br><br>
             Check seed packets or plant labels before buying, to ensure you get the right type to suit your needs. <br><br>
             There are also lots of varieties to choose from, offering fruits of various sizes, shapes, flavours and textures. Fruit colours range from traditional
             red to dark purple, pink, orange, yellow or green, and even striped. There are heirloom varieties, grown for many generations, as well as modern,
             blight-resistant choices. There are miniature round fruits, elongated plum varieties, smooth uniform salad tomatoes and huge, wrinkled, mis-shapen 
             beefsteaks, all full of flavour and with their own individual characters.  <br><br>
             <b><font style="font-size: 1.7rem"  color="blue">What and where to buy</font></b><br><br>
             <img src= https://www.rhs.org.uk/getmedia/8ce75752-c0dd-4fe9-a904-f500eedb6fbb/Tomato-Shirley-600x400.jpg?>
               <img src= https://www.rhs.org.uk/getmedia/2f00f0ef-9b5c-4931-a892-8b05d78c5325/Tomato-Ildi-600x400.jpg?><br><br>
               Tomato seeds are widely available from garden centres and other seed stockists. <br><br> Young plants are also available in spring and early summer from garden centres
                and online suppliers. These are ideal if you don’t have the time or space to grow from seed, but you may find the choice of varieties is limited. <br><br>
               Grafted plants are a recent introduction – these are generally more vigorous than seed-grown plants, providing earlier and larger crops, 
               and are more resistance to disease. However, they are more expensive and the choice of varieties is currently fairly small. 
               Grafted plants are mainly available by mail order from online suppliers.
            </p>

              <h2>3.Sowing</h2>
              <p class="image-content">Tomatoes are easy to grow from seed sown indoors in warm conditions.
               Sow from late February to mid-March if you’ll be growing your crop in a greenhouse, or from late March to early April if they’ll be outside.  
                <br><br>
                Fill a small pot with seed compost, water well, then sow three or four seeds on the surface. Cover with Vermiculite and keep at around 18°C (64°F), 
                ideally in a heated propagator or cover with a clear plastic bag and place on a warm windowsill. As soon as Seedlings appear – usually within a
                fortnight – uncover and place in as much light as possible, to prevent them growing thin and leggy. <br><br>
                <img src= https://www.rhs.org.uk/getmedia/6173e913-513d-4b1a-b9d1-15c364687967/tomatoes-004.jpg?&ext=.jpg><br>
                <h3><u>Potting on</u></h3>
                <b>After a couple of weeks, move the seedlings into individual pots: </b><br><br>
                     Fill small pots with multi-purpose compost and water well, then make a hole in the centre of each with a dibber or blunt stick.  
                     Lift each seedling individually, using the dibber to support its rootball and holding it by a leaf rather than the delicate stem, then lower it into
                      the new hole. If the seedling is leggy, bury it up to the first pair of leaves, then firm in gently.  <br><br>
                    Keep the plants in a greenhouse or on a well-lit windowsill, where the temperature is always at least 16°C (60°F), and water regularly. 
                    After about a month, they should be ready to plant into their final position, as soon as the first flowers open. 
              </p>

              <h2>4.Planting</h2>
              <p class="image-content">Young, well-rooted tomato plants grown from seed indoors should be ready to plant into their
                final position in early summer, once all danger of frost is past. You can also buy young plants from garden centres and online suppliers in 
                late spring and early summer.  <br><br>
                Tomatoes are tender and need to harden off before being planted out. Do this by putting them in a cold frame for a week. 
                If you don’t have a cold frame, place them outdoors during the day, then bring in at night for a week, then the following week, leave them out 
                         in a sheltered spot all day and night. <br><br>
                         Tomatoes are usually planted in large containers or growing bags in a greenhouse or outdoors. They can also be planted in the ground, either in
                          a greenhouse border or outdoors. When grown outdoors they need a really warm, sunny, sheltered location.<br><br>
                          <h3><u>Planting in containers</u></h3>
                          <img src=  https://www.rhs.org.uk/getmedia/029eee48-605a-4f05-9b51-265a4246c367/Tomato-Sungold-600x400.jpg?width=900&height=400&ext=.jpg><br><br>
                          Tomatoes do well in large containers and growing bags in a greenhouse or outdoors in full sun, and are very productive in a space. Use loam-based or multi-purpose
                          compost Plant one tomato per 30–45cm (12–18in) pot and two in a growing bag. <br><br>
                          Bush types are ideal for large patio containers, troughs, windowboxes and even hanging baskets.<br><br>
                          Cardon types grow well in large containers, with a tall cane for support. This can make the pots top heavy, so position in a sheltered site,
                         ideally against a sunny wall or in a greenhouse. <br><br>
                         <h3><u>Planting in the ground </u></h3>
                         Tomatoes thrive in rich, free-draining but moisture-retentive soil, so dig plenty of garden
                            compost into the ground before planting. Choose your warmest, sunniest spot, sheltered from wind. <br><br>
                            Plant tomatoes deeply, so the first set of leaves is just above the soil surface. Firm in, then water well. Space plants 45–60cm (18–24in) 
                            apart, depending on the eventually size – check seed packets for exact spacings. <br><br>
                            With Cordons tomatoes, insert a sturdy cane next to the plant and tie in the stem loosely. When planting in a greenhouse border, you can also
                            use vertical strings for support – tie them to the roof, so they hang down vertically, and bury the other end under the rootball when you 
                            plant the tomatoes. The string should be quite slack, so it can be wound round the top of the main stem as the plant grows.<br><br>
              </p>  
              
              <h2>5.Plant Care</h2>
              <p class="image-content">
                <h3><u>Watering </u></h3> 
                Water tomato plants regularly to keep the soil or compost evenly moist. Fluctuating moisture levels can cause problems with the fruit,
                              such as splitting or blossom end rot <br><br>
                              Plants in containers dry out quickly, so they may need watering daily in hot weather.<br><br>
                <h3><u>Feeding</h3></u> 
                To boost fruiting, especially with plants in containers, feed every 10–14 days with a high potassium liquid fertiliser 
                              once the first fruits start to swell.<br><br>
               <h3><u>Mulching</h3></u> 
               Lay a thick layer of mulch over the soil around tomato plants to help hold moisture in the ground and deter weeds. Use garden compost
                              or well-rotted manure, but leave a gap around the base of the stem, to prevent rotting.<br><br>
                <h3><u>Improving pollination</h3></u> 
                When growing tomatoes in a greenhouse, open the vents regularly to give pollinating insects access to the flowers. You can also lightly 
                              tap or shake the flowers when fully open to aid pollen transfer within the flower. Misting flowers with water may also help.<br><br>
                </p>
                
                <h2>6.Pruning and Training</h2>
                <p class="image-content">The two different types of tomatoes are treated differently – check your seed packet or
                         plant label to see which type you are growing: </b><br><br>
                         Cordan tomatoes are grown as tall, single-stemmed plants – they need tall supports and the side-shoots should be removed regularly.  <br><br>
                         Bush tomatoes are more compact and the side-shoots should not be removed. They may or may not need support, depending on how large they grow and
                          whether the stems are strong enough to carry their crop of fruit.<br><br>
                  <h3><u>Cordon tomatoes - training up supports</h3></u>
                  Cordon tomatoes need support, usually either a tall sturdy cane or a vertical string coming down from an overhead horizontal support, such as
                           a greenhouse roof, and anchored in the soil under the plant’s rootball. However, tomatoes don’t cling to supports or twine  round them 
                           naturally, so must be attached by hand as they grow. <br><br>
                           If using a cane support, simply tie the main stem to it at regular intervals as it grows.<br><br>  
                           If using a vertical string, gently wind the string around the top of the main stem once or twice a week as it grows.  <br><br>
                           When plants reach the top of their support or have set seven fruit trusses indoors or four trusses outdoors, remove the growing point of the
                            main stem at two leaves above the top truss.<br><br>
                            
                  <h3><u>Cordon tomatoes – removing side-shoots</h3></u>
                  Cordon  tomatoes are best grown as single-stemmed plants. However, these vigorous plants naturally produce side-shoots from the joints where 
                            leaves sprout from the main stem. These side-shoots should be pinched out to keep plants growing vertically on just one stem. If they’re not 
                            removed, the side-shoots grow rapidly, forming a mass of long, scrambling, leafy stems that are difficult to support, produce few fruits and 
                            take up a lot of space. <br><br> 
                            Removing the side-shoots is simple – every time you water, check the plant for any shoots sprouting just above each leaf, from the joint 
                            between the leaf and the stem. Pinch these out or snap them off.<br><br>

                  <h3><u>Bush tomatoes – providing support </h3></u> 
                  Bush tomatoes are more compact and less vigorous than cordan tomatoes, and may not need supporting at all. But if they carry a heavy crop of
                             fruits, the side-shoots may start to droop or be at risk of snapping. If so, simply add short vertical canes when required, tying in the 
                             shoots loosely to the cane.<br><br>
                  </p>
                  
                  
                  <h2>7.Harvesting</h2>
                  <p class="image-content">
                    <img src=  https://www.rhs.org.uk/getmedia/30049d92-b9bf-4abb-bb71-ad3568ba1fda/Tomato-Gigantomo-600x400.jpg?width=600&height=400&ext=.jpg margin:"auto" ><br><br>
                            Tomatoes start to ripen from mid-summer onwards, depending on the variety, weather conditions and fruit size. Smaller cherry tomatoes ripen
                             more quickly than larger fruits, and greenhouse tomatoes usually start cropping earlier than those outdoors, and continue for longer, well
                              into autumn.<br><br>
                            Check plants every few days and pick tomatoes individually, with the stalk still attached, as soon as they’re ripe and fully coloured.<br><br>
                            At the end of the growing season,  lift outdoor plants with unripe fruit and either lay them on straw under cloches or pick the fruits and 
                            place somewhere warm and dark to ripen. Alternatively, put unripe tomatoes in a drawer with a banana, to aid ripening.<br><br>
                  </p>

                  <h2>8.Storing</h2>
                  <p class="image-content"><img src= https://www.seriouseats.com/thmb/ZOIl9IxpwThghKiy1EcitbfpS88=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/_optaboutcomcoeusresourcescontent_migrationserious_eatsseriouseats.comimages201409_20140922-tomato-testing-part-3-vicky-wasik-1-205b8a0e33824643a9d9462611c9f747.jpg width=470&height=190>
                            <br><br> Tomatoes are best eaten as fresh as possible. But if you have too many, then fully ripe tomatoes can be kept in a fridge for a week or so,
                             to prevent them going mouldy. Try not to keep them refrigerated for long though, as the texture can deteriorate. Bring them back to room 
                             temperature before eating, to enjoy the full flavour.<br><br>
                            If the tomatoes aren’t yet fully ripe, leave them unrefrigerated to reach their peak of ripeness.<br><br>
                            Surplus ripe tomatoes can also be cooked then frozen for use in pasta sauces, soups and stews.<br><br>
                  </p>


          </p>
      </div>
      </div>
{% endblock content %}